html,
body {
	height: 100%;
}

body {
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
	font-size: 0.95rem;
	margin: 0;
}

h1 {
	font-size: 2rem;
}

p,
a {
	font-size: 0.812rem;
	font-weight: 500;
}

img {
	object-fit: cover;
}

.text-primary {
	color: #4346E1 !important;
}

.text-secondary {
	color: #A7A7A7 !important;
}

.btn.btn-primary {
	min-width: 100px;
	border-width: 2px;
	background: #4A69BB;
	border-color: #4A69BB;
	border-radius: 1rem;
	color: #fff !important;
}

.btn.btn-primary:hover,
li.active a.btn.btn-primary {
	background: transparent;
	border-color: #4A69BB;
	border-radius: 1rem;
	color: #4346E1 !important;
}

.sidebar.nav {
	display: block !important;
}

.nav-pills li {
	margin-right: 0.5rem;
}

.dashboard-container {
	background-color: #fff;
	width: 75vw;
	height: 95vh;
	border-radius: 2rem;
}

.sidebar {
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	float: left;
	width: 25%;
	background-color: #fafafa;
	height: 100%;
	overflow: auto;
	border-bottom-left-radius: 2rem;
	border-top-left-radius: 2rem;
	border-right: 1px solid #f1f1f1;
}

.sidebar a {
	display: block;
	color: #000;
	padding: 16px;
	text-decoration: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active .fas {
	border: 0 !important;
	color: #4346E1 !important;
}

.nav-tabs .nav-link {
	border: 0 !important;
}

.sidebar a:hover:not(.active) {
	background-color: #fff;
	color: #000;
}

.head-profile {
	margin: 1rem 3rem 0 0;
}

.head-profile .profile-pict {
	margin: 0.5rem;
	width: 75px;
	height: 75px;
}

.main-menu,
.akun-saya {
	margin: 2.5rem 0 1rem 1rem;
}

.sign-out {
	margin: 3rem 0 2rem;
}

.content {
	margin: 0;
	padding: 2rem;
	float: right;
	width: 75%;
	background-color: #FFF;
	height: 100%;
	overflow: auto;
	border-bottom-right-radius: 2rem;
	border-top-right-radius: 2rem;
}

.greeting-container {
	position: relative;
	width: 100%;
	height: 200px;
}

.greeting {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 40%;
	padding-bottom: 1rem;
	width: 100%;
	height: 60%;
	background-color: #D9D2D2;
}

.dashboard-image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	width: 50%;
	height: 80%;
}

.requirements-progress {
	margin: 2rem 0;
}

.requirements-progress p {
	font-size: 0.5rem;
}

.progress-container {
	position: relative;
	margin-top: 1rem;
	height: 250px;
	border: 0.75px solid #D9D2D2;
	border-radius: 1rem;
}

.progress-container p.finished {
	font-size: 0.8rem !important;
	font-weight: normal;
}

.progress-container span.status {
	padding: 0.5rem;
	font-size: 0.8rem;
}

.fprogress b {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 2px;
	display: block
}

.fbar {
	margin-top: 3rem;
	width: 100%;
	border: 1px solid #ddd;
	height: 25px;
	display: block;
	border-radius: 3px;
	text-align: center;
	position: relative;
}

.fbar p.finished {
	position: absolute;
	left: 40px;
	bottom: 5px;
	z-index: 10;
}

.fbar .zero {
	position: absolute;
	left: 7px;
	bottom: 15px;
	z-index: 10;
}

.fbar .full {
	position: absolute;
	left: 105px;
	bottom: 15px;
	z-index: 10;
}

.fbar span {
	display: block;
	height: 65%;
	background: #4346E1;
	position: relative;
}

.fbar span:after {
	content: attr(data-percent);
	color: #fff;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.fbar-radius {
	width: 130px;
	height: 130px;
	border-radius: 100%;
	overflow: hidden;
	border: 0;
	left: 15%;
	right: 15%;
}

.fbar-radius:after {
	color: black;
	top: 33%;
	font-size: 20px;
	content: attr(data-percent);
	z-index: 30;
	position: absolute;
	left: 0;
	right: 0
}

.fbar-radius span {
	display: block
}

.fbar-radius:before {
	content: "";
	background: #FFF;
	width: 110px;
	height: 110px;
	position: absolute;
	left: 10px;
	top: 10px;
	border-radius: 100%;
	z-index: 10
}

.detail-team {
	margin: 2rem 0;
	max-height: 500px;
}

.detail-team h5 {
	margin: 0 5px;
	padding: 0;
}

.detail-team p {
	margin: 0 5px;
	font-size: 0.5rem;
}

.detail-team .teammate-container {
	overflow: auto;
}

.teammate-container {
	width: 100%;
	height: 100%;
}

.teammate-card {
	position: relative;
	margin: 1rem 0;
	padding: 0;
	width: 100%;
	height: 100px;
	-webkit-box-shadow: 10px 10px 5px -5px rgba(112, 112, 112, 0.5);
	-moz-box-shadow: 10px 10px 5px -5px rgba(112, 112, 112, 0.5);
	box-shadow: 10px 10px 5px -5px rgba(112, 112, 112, 0.5);
	border-radius: 1rem;
}

.teammate-pict {
	float: left;
	width: 100px;
	height: 100%;
	border-radius: 1rem;
}

.teammate-card .teammate-name {
	margin: auto auto auto 1rem;
}

.teammate-card .lomba {
	float: right;
	margin: auto 1rem auto auto;
	width: 50px;
	height: 50%;
	background-color: #4346E1;
	-webkit-box-shadow: 7px 7px 5px -5px rgba(112, 112, 112, 0.5);
	-moz-box-shadow: 7px 7px 5px -5px rgba(112, 112, 112, 0.5);
	box-shadow: 7px 7px 5px -5px rgba(112, 112, 112, 0.5);
	border-radius: 1rem;
}

.teammate-card .lomba h6 {
	margin: 0;
	padding: 0;
	font-size: 0.75rem;
	color: #fff;
}

.teammates .teammate-container {
	margin-top: 2rem;
	width: 75%;
}

.teammates .teammate-card {
	height: 150px;
}

.teammates .teammate-pict {
	width: 150px;
}

.teammates .teammate-profile {
	margin: 1rem;
}

.teammates .teammate-container .teammate-card .teammate-name {
	margin: 0;
}

.teammates .teammate-container .teammate-card ul {
	padding: 0;
	list-style-type: none;
}

.teammates .teammate-container .teammate-card li {
	margin: 0.5rem 0;
	font-size: 0.75rem;
}

.teammates .teammate-container .teammate-card a {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 0.75rem;
}

.result-container {
	margin: 2rem 0;
	background-color: #D9D2D2;
	border-radius: 2rem;
	width: 100%;
	height: 300px;
}

.file-drop-area {
	position: relative;
	width: 100%;
	height: 100%;
}

.file-drop-area input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 999;
	cursor: pointer;
}

.file-info {
	margin: 1rem 0;
	width: 100%;
	height: 50px;
	font-size: 0.75rem;
	background-color: rgba(227, 215, 215, 0.2);
	border-radius: 2rem;
	overflow-x: auto;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default !important;
}

label[for="verify"] {
	font-size: 0.70rem !important;
}

.upload-button,
.cancel-button {
	width: 100%;
	height: 50px;
	border-radius: 2rem;
}

.upload-button {
	margin: 1rem 0 0.5rem;
	background-color: #4346E1 !important;
	border-radius: 1rem !important;
}

.upload-button:hover {
	background-color: #FFF !important;
}

.upload-button:disabled, .change-button:disabled {
	cursor: not-allowed;
}

.cancel-button {
	margin: 0.5rem 0 2rem;
	border-radius: 1rem !important;
}

.edit-profile-inputs {
	margin: 0.5rem 0;
	padding: 0.5rem;
	padding-left: 1rem;
	width: 100%;
	font-size: 0.75rem;
	color: #000;
	border: 1px solid #000;
	border-radius: 0.5rem;
}

.edit-profile-pict {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 140px;
}

.edit-profile-pict img {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}

.change-pict {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #ECECEC;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.change-pict p {
	font-size: 0.65rem;
}

.change-pict:hover {
	background-color: #4346E1;
	color: #FFF;
}

.edit-profile-pict input[type="file"] {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 999;
}

.update-button {
	width: 200px;
	background-color: #4346E1 !important;
	font-size: 0.7rem;
	border-radius: 0.5rem !important;
}

.update-button:hover {
	background-color: #FFF !important;
}

.change-button {
	background-color: #4346E1 !important;
	border-radius: 0.5rem !important;
}

.change-button:hover {
	background-color: #FFF !important;
}
